# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment files
.env
*.env
.env.*  # optional, if you're using multiple envs
myenv/  # ← ignore your virtual environment folder

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pycache
**/__pycache__/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
